  <h1>Primera Tweet app</h1>
  <br>
  <form action="/user" method="post">
    <input type="text" name="username" placeholder="@Twitter_user" >
    <input type="submit" value="submit">
  </form>
<br>
<p><%= "-" * 50 %></p>
 <!--  <form>
    <textarea placeholder="Write a tweet  "></textarea>
    <br>
    <input type="submit" value="submit">
  </form> -->

  
